*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkslategray;
    color: azure;
}
.containner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    gap: 20px;
    justify-content: center;
   
    
}
.card{
    background-color: rgb(64, 116, 116);
    width: 400px;
    border-radius: 20px;
    height: 400px;
 
}
.avatar img{
    border-radius: 100%;
   margin-left: 35%;
   height: 100px;
   margin-top: 20px ;

}
.name{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.bio p{
    font-size: 17px;
}
.position{
    color: rgb(7, 8, 7);
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}
.bio{
    text-align: center;
    line-height: 1.5rem;
}
.icon i{
    font-size: 30px;
    margin: 10px;
   
}
.icon{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.icon i:hover{

transform: scale(1.4);

}